<section class="side-nav">


  <nav
    class="side-nav-menu"
    [class.open]="menuOpen"
    [class.nav_is_viewed]="menuOpen"
  >
  <!-- <div class="top-spacer">

  </div> -->

    <ul>
      <li class="Déclarations" value="1">
        <a class="link" [routerLink]="['/habitation-principale/pre-form']" translate>nav-menu.Habitation-principale</a>
        <!-- <ul>
          <li><a translate>nav-menu.creer-demande</a></li>
          <li><a translate>nav-menu.suivi</a></li>
        </ul> -->
      </li>
      <li class="Déclarations">
        <a class="link"  translate>nav-menu.retraite-complementaire</a>
        <!-- <ul>
          <li><a translate>nav-menu.creer-demande</a></li>
          <li><a translate>nav-menu.suivi</a></li>
        </ul> -->
      </li>
      <li class="Déclarations"><a  class="link" translate>nav-menu.suivi</a></li>
    </ul>
    <span class="spacing"></span>
  </nav>
  <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>
</section>
