<!DOCTYPE html>
<html lang="fr">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restitution</title>
  </head>
  <body>
    <header>
      <div class="head">
        <div class="utils-links">
          <ul>
            <li id="time"></li>
            <li><a>Accueil</a></li>
            <li><a>Besoin d'aide?</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="header--content">
        <div class="logo">
          <a
            ><img
              src="assets/images/logo-dgi.png"
              style="max-width: 100%"
              alt=""
          /></a>
        </div>
        <div class="connected--user">
          <div class="connected-infos">
            <span>Bienvenue </span>
          </div>
          <div class="cta-logout">
            <a
              ><span
                >Se déconnecter<i
                  class="fa fa-power-off"
                  aria-hidden="true"
                ></i> </span
            ></a>
          </div>
        </div>
        <!--    <simplis:userinfo/>-->

        <div class="slogan">
          <span class="slog-brand">RESTITUTION IR</span
          ><span class="title">afférent au crédit logement destiné à l’acquisition et la construction d’un logement destiné à l’habitation principale  </span>
        </div>
      </div>
    <app-menu></app-menu>
    </header>

<section class="heading__content">
    <section class="heading__content">
        <div class="page__inner_title">
            <div class="container">
                <h2 class="titleGlobal"></h2>
            </div>
        </div>
    </section>
</section>

<!--<tiles:insert attribute="error" />>-->
<main>
    <div class="container" style="min-height: 500px">
       
    </div>
</main>
<div class="footer">
    <span>DGI Copyright 2025</span> &nbsp;&nbsp;&nbsp;Version 1.0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>  <a style="color: #fff;"  >Conditions Générales d'Utilisation</a> </span>
  </div><a class="c-action__gototop" href="" title="Haut de page"></a>
  
  </body>
</html>
