<div class="form-container card" *ngIf="user">
  <h2 class="card-title" translate>home.identification</h2>

  <div class="form-group three-col">
    <div class="form-control">
      <label translate>home.nom</label>
      <div>{{ user.nom }}</div>
    </div>
    <div class="form-control">
      <label translate>home.prenom</label>
      <div>{{ user.prenom }}</div>
    </div>
    <div class="form-control">
      <label translate>home.identifiantFiscal</label>
      <div>{{ user.identifiantFiscal }}</div>
    </div>
  </div>

  <!-- <div class="form-group two-col">
    <div class="form-control">
      <label translate>home.cin</label>
      <div>{{ user.cin }}</div>
    </div>
    <div class="form-control">
      <label translate>home.telephone</label>
      <div>{{ user.telephone }}</div>
    </div>
    <div class="form-control">
      <label translate>home.adresse</label>
      <div>{{ user.adresse }}</div>
    </div>
  </div> -->

  <!-- <div class="form-group two-col">
    <div class="form-control">
      <label translate>home.raisonSociale</label>
      <div>{{ user.raisonSociale }}</div>
    </div>
  </div> -->

  <!-- <div class="form-group two-col">
    <div class="form-control">
      <label translate>home.activite</label>
      <div>{{ user.activite }}</div>
    </div>
    <div class="form-control">
      <label translate>home.numRegistreCommerce</label>
      <div>{{ user.numRegistreCommerce }}</div>
    </div>
  </div> -->

  <!-- <div class="form-group two-col">
    <div class="form-control">
      <label translate>home.ville</label>
      <div>{{ user.ville }}</div>
    </div>
    <div class="form-control">
      <label translate>home.libelleProfession</label>
      <div>{{ user.libelleProfession }}</div>
    </div>
  </div> -->

  <!-- <div class="form-group two-col">
    <div class="form-control">
      <label translate>home.formeJuridique</label>
      <div>{{ user.formeJuridique }}</div>
    </div>
    <div class="form-control">
      <label translate>home.representantLegal</label>
      <div>{{ user.representantLegal }}</div>
    </div>
  </div> -->

  <div class="form-group three-col">
    <div class="form-control">
      <label translate>home.ice</label>
      <div>{{ user.ice }}</div>
    </div>
    <div class="form-control">
      <label translate>home.codeRaf</label>
      <div>{{ user.codeRaf }}</div>
    </div>
    <div class="form-control">
      <label translate>home.patente</label>
      <div>{{ user.patente }}</div>
    </div>
  </div>

  <div class="form-group three-col">
    <div class="form-control">
      <label translate>home.direction</label>
      <div>{{ user.direction }}</div>
    </div>
    
  
    <div class="form-control">
      <label translate>home.subdivision</label>
      <div>{{ user.subdivision }}</div>
    </div>
    <div class="form-control">
      <label translate>home.secteur</label>
      <div>{{ user.secteur }}</div>
    </div>
  </div>
</div>
